@model List<NS.CMS.Data.Entities.Candidate>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Index</title>
  <style>
    body {
     font-family: Arial, Helvetica, sans-serif; 
     font-size: 16px;
     line-height: 1.5;
    }

    a {
     text-decoration: none; 
    }

    .div-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  </style>

</head>
<body>
  <div class="container">
    <div class="div-1">
      <p class="fs-2 fw-bold">Candidates List</p>
      @using (Html.BeginForm("Index","Candidate", FormMethod.Get))
      {
        @Html.TextBox("searchData")
        <input type="submit" value="Search" />
        <br>
        <span>Name</span>@Html.RadioButton("sort","Name");
        <span>Id</span> @Html.RadioButton("sort","Id");
        <input type="submit" value="Sort" />
      }
    </div>
    <hr class="">
    <div class="div-2">
      <table class="table w-50 table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Options</th>
            <th scope="col">Phone</th>
            <th scope="col">Date Of Birth</th>
          </tr>
        </thead>
        <tbody>
          @foreach( var item in Model)
          {
            <tr>
              <td scope="row">@item.Id</td>
              <td><a asp-controller="Candidate" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></td>
              <td>@item.Mobile</td>
              <td>@item.Dob</td>
              <td>
                <a asp-controller="Candidate" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{@item.Id}">Delete</button>
              </td>
            </tr>

             <div class="modal fade" id="exampleModal{@item.Id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Do you really want to delete the record ?
                  </div>
                  <div class="modal-footer">
                    <a asp-controller="Candidate" asp-action="Index" asp-route-id="@item.Id" class="btn btn-secondary">No</a>
                    <a asp-controller="Candidate" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary">Yes</a>
                  </div>
                </div>
              </div>
            </div>
          }
        </tbody>
      </table>
      <a asp-controller="Candidate" asp-action="Create" class="btn btn-primary">Add New Candidate</a>
    </div>
  </div>

@*
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
*@
</body>
</html>
